<span><font color=blue>Title:</font> {{post.title}} <br>
<font color=blue> Body: </font>{{post.body}} <br></span> <! first it was 'Content' and i changed it to 'Body' to feet the server data>
<!--<font color=blue> Author: </font>{{post.author}} --> 
<span *ngIf = "isEdit">
    Title: <input type = "text" [(ngModel)] = "post.title" > 
    Body: <input type = "text" [(ngModel)] = "post.body" > 
</span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->
