<span *ngIf = "!isEdit"> <font color=blue>Name:</font> {{user.name}},<br> <font color=blue>Email:</font> {{user.email}} </span>
<span *ngIf = "isEdit">
    Name: <input type = "text" [(ngModel)] = "user.name"   >
    Email: <input type = "text" [(ngModel)] = "user.email"   >
</span>
<button (click) = "toggelEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->
